<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> {% load staticfiles %}

    <title>{% block tytul %} {% endblock %}</title>

    <meta name="viewport" content="width-device-width, inital-scale-1">
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">



    <link href="https://fonts.googleapis.com/css?family=Oswald|Ubuntu" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'strona_domowa/sidebar.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'strona_domowa/style.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'strona_domowa/nav.css' %}">
    

</head>


<header class="masthead">
   <div class = "container-fluid center" id="logo" >
       <a class="none"href="{% url 'strona_domowa:index' %}" >PIOTR POLAKOWSKI</a>
   </div>    
    
</header>
  
  
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark" id="nav" data-toggle="sticky-onscroll">

    <a class="navbar-brand" href="#" id="menu-toggle">
        <span class="far fa-arrow-alt-circle-right fa-2x"></span>
    </a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-center">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'strona_domowa:projekty' %}">
                        <span class="fas fa-sitemap"></span> Projekty
                    </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'strona_domowa:o_mnie' %}">
                        <span class="far fa-user-circle"> </span> O mnie
                    </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <span class="fas fa-sign-in-alt"></span> Logowanie
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'strona_domowa:index' %}">
                        <span class="fas fa-sign-in-alt"></span> Logowanie
                    </a>
                    <a class="dropdown-item" href="{% url 'esp:index' %}">
                        <span class="fas fa-microchip"></span> ESP
                    </a>
                    <a class="dropdown-item" href="{% url 'admin:index' %}">
                        <span class="fas fa-chess-rook"></span> ADMIN
                    </a>
                </div>
            </li>
        </ul>
    </div>

</nav>
  



<body>

    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                {% block nav %} {% endblock %}

            </ul>

        </div>

        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-1 col-md-2"></div>
                    <div class="col-sm-10 col-md-8">

                        {% block body %} {% endblock %}

                    </div>

                    <div class="col-sm-1 col-md-2"></div>
                </div>


            </div>

        </div>

    </div>
    




    {% block js %} {% endblock%}





    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("menuDisplayed");
            $("#sidebar-wrapper").toggleClass("menuDisplayed");
            $("#menu-toggle").toggleClass("menuDisplayed");
        });
        $(window).on('scroll.sticky-onscroll resize.sticky-onscroll', function() {
            if ($("#nav.sticky.is-sticky").length > 0) {
                $("#sidebar-wrapper").addClass("is-sticky");
            }else{
                $("#sidebar-wrapper").removeClass("is-sticky");
            };

        });
    </script>


    <script>
        $(document).ready(function() {
            // Custom 
        
            var stickyToggle = function(sticky, stickyWrapper, scrollElement) {
                var stickyHeight = sticky.outerHeight();
                var stickyTop = stickyWrapper.offset().top;
                if (scrollElement.scrollTop() >= stickyTop) {
                    stickyWrapper.height(stickyHeight);
                    sticky.addClass("is-sticky");
                    
                } else {
                    sticky.removeClass("is-sticky");
                    stickyWrapper.height('auto');
                    
                }
            };
            


            // Find all data-toggle="sticky-onscroll" elements
            $('[data-toggle="sticky-onscroll"]').each(function() {
                var sticky = $(this);
                var stickyWrapper = $('<div>').addClass('sticky-wrapper'); // insert hidden element to maintain actual top offset on page
                sticky.before(stickyWrapper);
                sticky.addClass('sticky');

                // Scroll & resize events
                $(window).on('scroll.sticky-onscroll resize.sticky-onscroll', function() {
                    stickyToggle(sticky, stickyWrapper, $(this));
                                                        
                });

                // On page load
                stickyToggle(sticky, stickyWrapper, $(window));
            });
        });
    </script>
</body>

</html>
