{% extends 'strona_domowa/base.html' %}

{% block tytul %} Strona główna {% endblock %}
 
{% block nav %}


<li><a href="#">Dodaj użytkownika</a></li>
<li><a href="#">SETTings</a></li>
<li><a href="#">logout</a></li>


{% endblock %} 

{% block body %}
<div class="tytul_okno">Hello {{user.username}}
    <div>
        {{projekt.pk}}
    </div>
    <div>
        {{projekt}}
    </div>
</div>




<div>

        {% for okno in projekt.okno_set.all %}

        <div class="tytul_okno">
            {{okno.naglowek}}
        </div>
        <div class='okno'>
            {{okno.zawartosc}}
        </div>

        {% endfor %}

</div>


{% endblock %}

{% block js %}


{% endblock %}
