{% extends 'esp/base.html' %} {% block tytul %} podstrona {% endblock %} {% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p>Are you sure you want to delete "{{ object }}"?</p>
                </div>
                <div class="panel-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="container-fluid">
                            <input type="submit" value="Confirm" class="btn btn-danger btn-block btn-large" />
                            <a href="{% url 'esp:detail' gpio.urzadzenie.id %}" class="btn btn-success btn-block btn-large">Wróc</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>



{% endblock %}
